@charset "UTF-8";
/* VARIÁVEIS */
@font-face {
  font-family: Inter-Bold, sass-serif;
  src: url(../fonts/Inter-UI-Bold.woff); }

@font-face {
  font-family: Inter-Medium, sass-serif;
  src: url(../fonts/Inter-UI-Medium.woff); }

@font-face {
  font-family: Inter-Regular, sass-serif;
  src: url(../fonts/Inter-UI-Regular.woff); }

h1 {
  font-size: 40px;
  font-family: Inter-Bold, sass-serif;
  color: #30363F; }

h4 {
  font-size: 18px;
  font-family: Inter-Bold, sass-serif;
  color: rgba(48, 54, 63, 0.6); }

* {
  box-sizing: border-box; }
  *::after, *::before {
    box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  background: #F7F8F9; }

.content {
  display: flex;
  justify-content: flex-start;
  flex-direction: row; }
  .content .page {
    padding: 120px 50px 30px 130px;
    width: 100%;
    height: auto; }

.group {
  display: flex;
  flex-direction: column; }
  .group .group-row {
    display: flex;
    flex-direction: row;
    width: 100%; }
  .group .space-between {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .group .right-content {
    display: flex;
    flex-direction: row;
    align-items: center; }

/* VARIÁVEIS */
@font-face {
  font-family: Inter-Bold, sass-serif;
  src: url(../fonts/Inter-UI-Bold.woff); }

@font-face {
  font-family: Inter-Medium, sass-serif;
  src: url(../fonts/Inter-UI-Medium.woff); }

@font-face {
  font-family: Inter-Regular, sass-serif;
  src: url(../fonts/Inter-UI-Regular.woff); }

h1 {
  font-size: 40px;
  font-family: Inter-Bold, sass-serif;
  color: #30363F; }

h4 {
  font-size: 18px;
  font-family: Inter-Bold, sass-serif;
  color: rgba(48, 54, 63, 0.6); }

.search {
  position: relative; }
  .search .input {
    padding: 20px;
    min-width: 300px;
    border: 0;
    font-family: Inter-Bold, sass-serif;
    font-size: 16px;
    border-radius: 3px;
    outline: none; }
  .search svg {
    position: absolute;
    right: 20px;
    top: 22px;
    z-index: 1; }
    .search svg:hover {
      cursor: pointer;
      color: #147BF3; }

.logotipo {
  width: 143.24px;
  height: 30.36px;
  display: block;
  background-image: url("../images/logo.svg"); }

.iconChevronDown {
  width: 9px;
  height: 5px;
  display: block;
  background-image: url("../images/chevron-down.svg"); }

.sidebar {
  position: fixed;
  width: 80px;
  height: 100%;
  left: 0;
  top: 80px;
  bottom: 0;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 0px;
  box-shadow: 0px 10px 10px rgba(48, 54, 63, 0.12), 0px -4px 0px rgba(255, 255, 255, 0.25); }
  .sidebar .items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
    .sidebar .items .item {
      width: 80px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .sidebar .items .item:hover svg {
        color: #147BF3; }

.navbar {
  height: 80px;
  background: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(48, 54, 63, 0.12);
  display: flex;
  justify-content: space-between;
  padding: 0px 40px;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999; }
  .navbar .rightContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #FFFFFF;
    position: relative; }
    .navbar .rightContent .userLogged {
      display: flex;
      flex-direction: row;
      align-items: center;
      background: #FFFFFF; }
      .navbar .rightContent .userLogged .userPhoto {
        width: 40px;
        height: 40px;
        border-radius: 50%; }
      .navbar .rightContent .userLogged .usernameHeader {
        font-size: 16px;
        color: rgba(48, 54, 63, 0.6);
        padding-left: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-weight: 500;
        background: #FFFFFF; }
        .navbar .rightContent .userLogged .usernameHeader .iconChevronDown {
          margin-left: 10px;
          margin-top: 5px; }
      .navbar .rightContent .userLogged:hover {
        cursor: pointer; }
        .navbar .rightContent .userLogged:hover .usernameHeader {
          color: #147BF3; }
    .navbar .rightContent .notification {
      position: relative;
      width: 80px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #FFFFFF; }
      .navbar .rightContent .notification .numberNotification {
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #EB5757;
        color: #FFFFFF;
        top: 23px;
        right: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        font-weight: 900; }
      .navbar .rightContent .notification:hover {
        cursor: pointer;
        background: #147BF3; }
        .navbar .rightContent .notification:hover svg {
          color: #ffffff; }
    .navbar .rightContent .scroll {
      overflow-y: scroll; }
    .navbar .rightContent #scrollbar-style::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #FFFFFF; }
    .navbar .rightContent #scrollbar-style::-webkit-scrollbar {
      width: 6px;
      background-color: #FFFFFF; }
    .navbar .rightContent #scrollbar-style::-webkit-scrollbar-thumb {
      background-color: #147BF3; }
    .navbar .rightContent .toggle {
      display: none; }
      .navbar .rightContent .toggle .notification-box {
        width: 320px;
        max-height: 320px;
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        background: #FFFFFF;
        top: 80px;
        color: #30363F; }
        .navbar .rightContent .toggle .notification-box .item-notification {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-direction: row;
          height: 100px;
          text-decoration: none;
          color: #30363F; }
          .navbar .rightContent .toggle .notification-box .item-notification .content-notification {
            display: flex;
            flex-direction: column; }
            .navbar .rightContent .toggle .notification-box .item-notification .content-notification .info-notification {
              font-size: 14px;
              color: rgba(48, 54, 63, 0.6); }
          .navbar .rightContent .toggle .notification-box .item-notification:hover {
            z-index: 1;
            box-shadow: 0px 0px 24px rgba(30, 72, 128, 0.1); }

/* VARIÁVEIS */
@font-face {
  font-family: Inter-Bold, sass-serif;
  src: url(../fonts/Inter-UI-Bold.woff); }

@font-face {
  font-family: Inter-Medium, sass-serif;
  src: url(../fonts/Inter-UI-Medium.woff); }

@font-face {
  font-family: Inter-Regular, sass-serif;
  src: url(../fonts/Inter-UI-Regular.woff); }

h1 {
  font-size: 40px;
  font-family: Inter-Bold, sass-serif;
  color: #30363F; }

h4 {
  font-size: 18px;
  font-family: Inter-Bold, sass-serif;
  color: rgba(48, 54, 63, 0.6); }

.dropdown {
  position: relative;
  display: inline-block;
  border-radius: 3px; }
  .dropdown .dropbtn {
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: Inter-Bold, sass-serif;
    font-weight: 500;
    color: #30363F; }
    .dropdown .dropbtn .iconChevronDown {
      margin-top: 5px;
      margin-left: 60px; }
    .dropdown .dropbtn .iconCalendar {
      margin-left: 60px; }
    .dropdown .dropbtn:hover, .dropdown .dropbtn:focus {
      border: 1px solid #147BF3;
      margin: -1px;
      outline: none; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  overflow: auto;
  margin-top: 1px;
  z-index: 9999; }
  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    color: #30363F;
    font-family: Inter-Bold, sass-serif;
    border-bottom: 1px solid #f1f1f1; }
    .dropdown-content a:hover {
      color: #147BF3; }

.show {
  display: block; }

.bt-notification {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  background: #707D8E;
  color: #ffffff;
  position: absolute;
  bottom: -60px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-decoration: none; }

.bt {
  padding: 19px;
  border-radius: 3px;
  border: 0;
  outline: none;
  font-family: Inter-Bold, sass-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 18px; }
  .bt .moreCircle {
    margin-right: 10px;
    margin-top: 3px; }

.bt-primary {
  background: #707D8E;
  color: #ffffff; }
  .bt-primary:hover, .bt-primary:focus {
    background: #626f80;
    cursor: pointer; }

.m-l-10 {
  margin-left: 10px; }

.m-l-20 {
  margin-left: 20px; }

.m-l-30 {
  margin-left: 30px; }

.m-l-40 {
  margin-left: 40px; }

.m-l-50 {
  margin-left: 50px; }

.m-l-60 {
  margin-left: 60px; }

.m-l-70 {
  margin-left: 70px; }

.m-l-80 {
  margin-left: 80px; }

.m-r-10 {
  margin-right: 10px; }

.m-r-20 {
  margin-right: 20px; }

.m-r-30 {
  margin-right: 30px; }

.m-r-40 {
  margin-right: 40px; }

.m-r-50 {
  margin-right: 50px; }

.m-t-5 {
  margin-top: 5px; }

.m-t-10 {
  margin-top: 10px; }

.m-t-20 {
  margin-top: 20px; }

.m-t-30 {
  margin-top: 30px; }

.m-t-40 {
  margin-top: 40px; }

.m-t-50 {
  margin-top: 50px; }

.m-t-60 {
  margin-top: 60px; }

.m-t-70 {
  margin-top: 70px; }

.m-t-80 {
  margin-top: 80px; }

.m-t-90 {
  margin-top: 90px; }

.m-t-100 {
  margin-top: 100px; }

#ui-datepicker-div {
  background: #FFFFFF !important; }

/* VARIÁVEIS */
@font-face {
  font-family: Inter-Bold, sass-serif;
  src: url(../fonts/Inter-UI-Bold.woff); }

@font-face {
  font-family: Inter-Medium, sass-serif;
  src: url(../fonts/Inter-UI-Medium.woff); }

@font-face {
  font-family: Inter-Regular, sass-serif;
  src: url(../fonts/Inter-UI-Regular.woff); }

h1 {
  font-size: 40px;
  font-family: Inter-Bold, sass-serif;
  color: #30363F; }

h4 {
  font-size: 18px;
  font-family: Inter-Bold, sass-serif;
  color: rgba(48, 54, 63, 0.6); }

.table {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 0; }
  .table .title-table {
    background: none;
    height: 64px;
    display: flex;
    align-items: center;
    text-align: center; }
    .table .title-table .id-table {
      width: 80px;
      font-family: Inter-Regular, sass-serif;
      color: rgba(48, 54, 63, 0.4); }
    .table .title-table .collum-table {
      width: 25%;
      color: rgba(48, 54, 63, 0.8);
      font-family: Inter-Bold, sass-serif;
      font-weight: 700; }
  .table .item-table {
    background: #FFFFFF;
    height: 64px;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 2px; }
    .table .item-table .id-table {
      width: 80px;
      font-family: Inter-Regular, sass-serif;
      color: rgba(48, 54, 63, 0.4); }
    .table .item-table .collum-table {
      width: 25%;
      color: #30363F;
      font-family: Inter-Regular, sass-serif;
      font-size: 16px; }
    .table .item-table .bt-collum-table {
      width: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 64px;
      position: absolute;
      right: 0; }
    .table .item-table:hover {
      box-shadow: 0px 0px 24px rgba(30, 72, 128, 0.1);
      cursor: pointer;
      z-index: 9999; }
      .table .item-table:hover .bt-collum-table {
        background: #147BF3; }
        .table .item-table:hover .bt-collum-table svg {
          color: #ffffff; }
