@import 'tipografia';
@import 'cores';

.dropdown {
    position: relative;
    display: inline-block;
    border-radius: 3px;

    .dropbtn {
        background-color: $default-color-dropdown;
        padding: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        border: none;
        cursor: pointer;
        font-family: $font-family-bold-default;
        font-weight: 500;
        color: $default-color-text-black;

        .iconChevronDown{
            margin-top: 5px;
            margin-left: 60px;
        }
        .iconCalendar{
            margin-left: 60px;
        }

        &:hover, &:focus {
            border: 1px solid $blue-logo-default;
            margin: -1px;
            outline: none;
        }
    }
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: $default-color-dropdown;
    width: 100%;
    overflow: auto;
    margin-top: 1px;
    z-index: 9999;

    a {
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 14px;
        color: $default-color-text-black;
        font-family: $font-family-bold-default;
        border-bottom: 1px solid #f1f1f1;

        &:hover {
            color: $blue-logo-default;
        }
    }

}
.show {display:block;}

.bt-notification{
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    background: #707D8E;
    color: #ffffff;
    position: absolute;
    bottom: -60px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-decoration: none;
}

.bt{
    padding: 19px;
    border-radius: 3px;
    border: 0;
    outline: none;
    font-family: $font-family-bold-default;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 18px;

    .moreCircle{
        margin-right: 10px;
        margin-top: 3px;
    }
}
.bt-primary{
    background: $bt-primary;
    color: $default-color-text-white;

    &:hover, &:focus{
        background: $bt-primary-hover;
        cursor: pointer;
    }
}
