$white-default: #FFFFFF;
$blue-logo-default: #147BF3;
$background-default: #F7F8F9;
$bt-primary: #707D8E;
$bt-primary-hover: #626f80;
$default-color-dropdown: #ffffff;
$default-color-text-black: #30363F;
$default-color-text-white: #ffffff;
