.m-l-10{
    margin-left: 10px;
}
.m-l-20{
    margin-left: 20px;
}
.m-l-30{
    margin-left: 30px;
}
.m-l-40{
    margin-left: 40px;
}
.m-l-50{
    margin-left: 50px;
}
.m-l-60{
    margin-left: 60px;
}
.m-l-70{
    margin-left: 70px;
}
.m-l-80{
    margin-left: 80px;
}
.m-r-10{
    margin-right: 10px;
}
.m-r-20{
    margin-right: 20px;
}
.m-r-30{
    margin-right: 30px;
}
.m-r-40{
    margin-right: 40px;
}
.m-r-50{
    margin-right: 50px;
}
.m-t-5{
    margin-top: 5px;
}
.m-t-10{
    margin-top: 10px;
}
.m-t-20{
    margin-top: 20px;
}
.m-t-30{
    margin-top: 30px;
}
.m-t-40{
    margin-top: 40px;
}
.m-t-50{
    margin-top: 50px;
}
.m-t-60{
    margin-top: 60px;
}
.m-t-70{
    margin-top: 70px;
}
.m-t-80{
    margin-top: 80px;
}
.m-t-90{
    margin-top: 90px;
}
.m-t-100{
    margin-top: 100px;
}
