@import 'cores';
@import 'tipografia';

.search{
    position: relative;

    .input{
        padding: 20px;
        min-width: 300px;
        border: 0;
        font-family: $font-family-bold-default;
        font-size: 16px;
        border-radius: 3px;
        outline: none;
    }
    svg{
        position: absolute;
        right: 20px;
        top: 22px;
        z-index: 1;

        &:hover{
            cursor: pointer;
            color: $blue-logo-default;
        }
    }
}
