@import 'cores';

*{
    box-sizing: border-box;

    &::after, &::before{
        box-sizing: border-box;
    }
}
body{
    padding: 0;
    margin: 0;
    background: $background-default;
}

.content{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;

    .page{
        padding: 120px 50px 30px 130px;
        width: 100%;
        height: auto;
    }
}
.group{
    display: flex;
    flex-direction: column;

    .group-row{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .space-between{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .right-content{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
