@import 'cores';

.logotipo{
    width: 143.24px;
    height: 30.36px;
    display: block;
    background-image: url('../images/logo.svg');
}
.iconChevronDown{
    width: 9px;
    height: 5px;
    display: block;
    background-image: url('../images/chevron-down.svg');
}
