@import 'cores';

.navbar{
    height: 80px;
    background: $white-default;
    box-shadow: 0px 2px 10px rgba(48, 54, 63, 0.12);
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;

    .rightContent{
        display: flex;
        flex-direction: row;
        align-items: center;
        background: $white-default;
        position: relative;

        .userLogged{
            display: flex;
            flex-direction: row;
            align-items: center;
            background: $white-default;

            .userPhoto{
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
            .usernameHeader{
                font-size: 16px;
                color: rgba(48, 54, 63, 0.6);
                padding-left: 15px;
                display: flex;
                flex-direction: row;
                align-items: center;
                font-weight: 500;
                background: $white-default;

                .iconChevronDown{
                    margin-left: 10px;
                    margin-top: 5px;
                }
            }

            &:hover{
                cursor: pointer;

                .usernameHeader{
                    color: $blue-logo-default;
                }
            }

        }

        .notification{
            position: relative;
            width: 80px;
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $white-default;

            .numberNotification{
                position: absolute;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background: #EB5757;
                color: #FFFFFF;
                top: 23px;
                right: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 10px;
                font-weight: 900;
            }

            &:hover{
                cursor: pointer;
                background: $blue-logo-default;

                svg{
                    color: #ffffff;
                }
            }
        }

        .scroll{
        	overflow-y: scroll;
        }
        #scrollbar-style::-webkit-scrollbar-track
        {
        	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        	background-color: $white-default;
        }
        #scrollbar-style::-webkit-scrollbar
        {
        	width: 6px;
        	background-color: $white-default;
        }

        #scrollbar-style::-webkit-scrollbar-thumb
        {
        	background-color: $blue-logo-default;
        }

        .toggle{
            display: none;
            
            .notification-box{
                width: 320px;
                max-height: 320px;
                display: flex;
                flex-direction: column;
                position: absolute;
                right: 0;
                background: $white-default;
                top: 80px;
                color: $default-color-text-black;

                .item-notification{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    flex-direction: row;
                    height: 100px;
                    text-decoration: none;
                    color: $default-color-text-black;

                    .content-notification{
                        display: flex;
                        flex-direction: column;

                        .info-notification{
                            font-size: 14px;
                            color: rgba(48, 54, 63, 0.6);
                        }
                    }

                    &:hover{
                        z-index: 1;
                        box-shadow: 0px 0px 24px rgba(30, 72, 128, 0.1);
                    }
                }
            }
        }
    }
}
