@import 'cores';

.sidebar{
    position: fixed;
    width: 80px;
    height: 100%;
    left: 0;
    top: 80px;
    bottom: 0;
    background: $white-default;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 0px;
    box-shadow: 0px 10px 10px rgba(48, 54, 63, 0.12), 0px -4px 0px rgba(255, 255, 255, 0.25);


    .items{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .item{
            width: 80px;
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover{
                svg{
                    color: #147BF3;
                }
            }
        }
    }
}
