@import 'tipografia';
@import 'cores';

.table{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding: 0;

    .title-table{
        background: none;
        height: 64px;
        display: flex;
        align-items: center;
        text-align: center;

        .id-table{
            width: 80px;
            font-family: $font-family-regular-default;
            color: rgba(48, 54, 63, 0.4);
        }
        .collum-table{
            width: 25%;
            color: rgba(48, 54, 63, 0.8);
            font-family: $font-family-bold-default;
            font-weight: 700;
        }
    }
    .item-table{
        background: $white-default;
        height: 64px;
        display: flex;
        align-items: center;
        text-align: center;
        position: relative;
        margin-bottom: 2px;

        .id-table{
            width: 80px;
            font-family: $font-family-regular-default;
            color: rgba(48, 54, 63, 0.4);
        }
        .collum-table{
            width: 25%;
            color: #30363F;
            font-family: $font-family-regular-default;
            font-size: 16px;
        }
        .bt-collum-table{
            width: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 64px;
            position: absolute;
            right: 0;
        }

        &:hover{
            box-shadow: 0px 0px 24px rgba(30, 72, 128, 0.1);
            cursor: pointer;
            z-index: 9999;

            .bt-collum-table{
                background: $blue-logo-default;

                svg{
                    color: #ffffff;
                }
            }
        }
    }
}
