/* VARIÁVEIS */
$font-family-regular-default: Inter-Regular, sass-serif;
$font-family-medium-default: Inter-Medium, sass-serif;
$font-family-bold-default: Inter-Bold, sass-serif;

@font-face {
    font-family: $font-family-bold-default;
    src: url(../fonts/Inter-UI-Bold.woff);
}
@font-face {
    font-family: $font-family-medium-default;
    src: url(../fonts/Inter-UI-Medium.woff);
}
@font-face {
    font-family: $font-family-regular-default;
    src: url(../fonts/Inter-UI-Regular.woff);
}

h1{
    font-size: 40px;
    font-family: $font-family-bold-default;
    color: #30363F;
}
h4{
    font-size: 18px;
    font-family: $font-family-bold-default;
    color: rgba(48, 54, 63, 0.6);
}
