/* FONTES */
$font-family-regular-default:        Inter-Regular, sass-serif;
$font-family-medium-default:         Inter-Medium, sass-serif;
$font-family-bold-default:           Inter-Bold, sass-serif;
